body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

.heading {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

.description {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 15px 0px;
}


.small-description{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

.footer {
	text-align: center;
	margin-top: 30px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: .9em;
}

.youtube-embed{
	max-width: 560px; /* you have to have a size or this method doesn't work */
	height: 315px;
/*	max-height: 315px;  think about making these max-width instead - might give you some more responsiveness 
*/
	position: relative; /* positions out of the flow, but according to the nearest parent */
	top: 0; right: 0; /* confuse it i guess */
	bottom: 0; left: 0;
	margin: auto; /* make em equal */
}

.video-text{

}

img {
	max-width:100%;
	max-height:100%;
	display: block;
	margin: 0 auto;
}